openapi: 3.0.1
info:
  title: DoltHub Branches Tags API
  description: The DoltHub HTTP API (v1alpha1) for the version-controlled SQL database "Git for data". Provides read SQL queries, asynchronous write SQL queries, and version-control management of databases, branches, tags, forks, jobs, and operations on Dolt databases hosted at dolthub.com. Read queries against public databases are unauthenticated; write queries and access to private databases require an API token sent as an authorization header.
  termsOfService: https://www.dolthub.com/terms
  contact:
    name: DoltHub Support
    url: https://www.dolthub.com/contact
  version: v1alpha1
servers:
- url: https://www.dolthub.com/api/v1alpha1
security:
- tokenAuth: []
- {}
tags:
- name: Tags
paths:
  /{owner}/{database}/tags:
    get:
      operationId: listTags
      tags:
      - Tags
      summary: List tags
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: database
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of tags.
    post:
      operationId: createTag
      tags:
      - Tags
      summary: Create a tag
      security:
      - tokenAuth: []
      parameters:
      - name: owner
        in: path
        required: true
        schema:
          type: string
      - name: database
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
      responses:
        '200':
          description: Tag created.
components:
  schemas:
    CreateTagRequest:
      type: object
      properties:
        tagName:
          type: string
        tagMessage:
          type: string
        revisionType:
          type: string
          enum:
          - branch
          - ref
          - commit
        revisionName:
          type: string
      required:
      - tagName
      - tagMessage
      - revisionType
      - revisionName
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: authorization
      description: DoltHub API token sent as the `authorization` header in the form "token YOUR_API_TOKEN". Required for write queries and access to private databases.
